[2020-12-24 19:53] dret opened #2 "proposal to revert updated draft title"
the draft used to be called "The Deprecation HTTP Header Field" and now is called "The Deprecation HTTP Header". i am not sure this change is intentional? technically speaking it is a header field, so i propose reverting to the original title.

[2020-12-24 21:06] dret opened #3 "github issue management: permissions"
@richsalz/@darrelmiller: it seems that we (the editors: @dret and @sdatgit/@sdatspun2) cannot freely assign issues in this repo? it looks like we can only do assignments to a list of predefined accounts (i was able to assign this issue here to @richsalz/@darrelmiller, but was unable to assign  #2 to @sdatgit/@sdatspun2).
maybe that's a side-effect of us being listed as contributors for the repo? i

[2020-12-24 21:31] richsalz commented on #3
@dret made you a maintainer.  see if you can now assign issue #2.
(accidental choice, BTW, not deliberate.)

[2020-12-24 21:31] #3 closed

[2020-12-24 21:45] sdatgit commented on #2
@dret it was an oversight.

[2020-12-24 21:51] sdatspun2 commented on #2
@dret datatracker submission was raising some issue with the name and revision. i do not quite recall if that prompted me to try dropping "Field".

[2020-12-24 23:38] dret commented on #2
On 2020-12-24 13:51, Sanjay Dalal wrote:

is it ok then to try to revert to the original title?

[2020-12-24 23:41] dret commented on #3
On 2020-12-24 13:31, Rich Salz wrote:

thanks. i was able to assign the issue now. but this time @sdatspun2
appeared in the list of choices (he wasn't there before). definitely
works good enough for now! thanks!

[2020-12-25 13:56] sdatspun2 commented on #2
Hello @richsalz what is your suggestion re how to make this change? is it possible for you to reject https://datatracker.ietf.org/submit/status/116473/ so I can submit a new one for rev 00?

[2020-12-26 03:05] richsalz commented on #2
Submit a new draft with draft-ietf-httpapi-xxxxx with the new title.  You should be able to mark that it replaces the draft with the old title.  (if not, we can get it done).

[2021-03-07 17:37] malevy opened #4 "Inconsistency between text and the example"
There is a small inconsistency between the text and one of the example usages of the Deprecation header in draft-ietf-httpapi-deprecation-header.md.

The correct day of the week for  November 11, 2018 was Sunday, according to Google.

[2021-03-07 17:49] dret commented on #4
good catch, thanks!

[2021-03-07 17:49] #4 closed

[2021-03-10 12:08] dret commented on #2
this was fixed by submitting -01 with the reverted title.

[2021-03-10 12:08] #2 closed

[2021-03-12 16:22] reschke opened #5 "reconsider re-use of RFC 5829 link relations"
These were explicitly defined for version *control* related relations.

If their semantics are to be relaxed (which *might* be a good idea), we should revise/update that RFC.

[2021-03-12 16:22] reschke opened #6 "proposed example: redirect to new location"
Maybe a good example would be a redirect to a different site, with "Deprecation" saying when the redirecting site is going to disappear.

[2021-03-12 18:04] gabesullice commented on #5
I'm wondering what the expected usage of the `alternate` and `successor-version` link rels are in this context? In practice, why would a client that is already capable of using the new resource be making a request to the deprecated resource in the first place?

It might be a safer assumption that the client cannot retry its request without causing more problems. If a server really does want to red

[2021-03-15 14:20] sdatspun2 commented on #5
Case: You are right for a new client. If resource is deprecated after the client has integrated with the deprecated version and gone into production, this header can be used to inform them (via log, etc.) about the alternate or successor-version.

[2021-03-15 14:25] sdatspun2 commented on #6
Consider a post-production cases where client is using a version of resource that is now deprecated. Resource provider cannot make the choice for clients. Resource provider can inform the clients via this header about the choices available in case of deprecation. Let me know if I am missing something.

[2021-03-20 23:02] darrelmiller opened #7 "Deprecation scope"
The introduction to this RFC says:

However later in the documentation section it says:

These two statements do not seem consistent.  My understanding of the term "resource has been deprecated" is that it will no longer respond with a 2XX to any HTTP method.  Is that understanding incorrect?

 Perhaps the initial paragraph could be changed to say,

[2021-03-20 23:11] darrelmiller opened #8 "Definition of resource context"
It is not clear to me the distinction between "resource" and "resource context".  Is the word "context" a significant qualifier?

[2021-03-20 23:15] darrelmiller opened #9 "Clarification on multiplicity of deprecation links"
The specification says:

If two parts of the resource are deprecated at different times, what is the expected date in the deprecation header?  The first or last?

Regarding the deprecation link, the spec says:

Does the use of plural "links" indicate that multiple deprecation links can be included?

[2021-03-21 10:17] dret commented on #8
On 2021-03-21 00:11, Darrel wrote:

that was the idea, but apparently it didn't succeed. the idea was that
while the header field technically applies to the resource/URI, it also
should be allowed to for example say "when the home document starts
announcing deprecation, that applies to all resources of the API." that
would make it possible to restrict usage of the deprecation header field
to selec

[2021-03-21 10:23] dret commented on #9
On 2021-03-21 00:15, Darrel wrote:

the spec cannot deprecate different parts of a response. deprecation of
the resource always is done as a whole.

no, that should be singular instead. good catch, thanks!

--
erik wilde | ***@***.*** |
            | http://dret.net/netdret    |
            | http://twitter.com/dret    |

[2021-03-21 10:26] dret commented on #9
ooops, i was wrong. yes, multiple `deprecation`-typed links can be used, because they link to info/documentation. they could for example use link attributes such as media types or language to link to different resources.

[2021-03-21 14:08] dret commented on #7
On 2021-03-21 00:02, Darrel wrote:

good catch, thanks. we did make the decision to only support deprecation
at the resource level, so this sentence may be a left-over from the
previous language that claimed a more fine-grained facility, without
ever providing a model for it.

this sentence should be removed.

that's not what deprecation is for this draft (but that's what
sunsetting can be). depre

[2021-03-28 12:05] gabesullice commented on #5
Right, but what do you expect the client in production to do with the link to a successor version? If it automatically follows the link, it is likely to break. Therefore, why have the link at all?

[2021-03-29 08:43] dret commented on #5
On 2021-03-28 14:06, Gabe Sullice wrote:

the intention is to make it easier for developers to find out what to
do. you can link them to a place that helps them to find out what to do.

i think we have pretty universal consensus that expecting that you can
follow a link and that resource *is* the new resource is not very
realistic in most cases. so what we're doing here is trying to find some
midd

[2021-03-29 12:10] gabesullice commented on #5
Thanks for clarifying that it is only meant for documentation purposes. The concern raised at the IETF meeting was that naïve clients would try to follow it automatically though and that those semantics are fairly different than the original registration in RFC 5829.

Since you say that "the intention is to make it easier for developers to find out what to do. you can link them to a place that hel

[2021-03-29 13:54] dret commented on #5
thanks everybody for chiming in. i think i am reconsidering our choice and it might indeed be sufficient to simply rely on the `deprecation` link relation for linking to documentation. @sdatgit @sdatspun2 , is it ok for you if we resolve things that way?

[2021-03-30 21:23] sdatspun2 commented on #5
@gabesullice I am not sure how much naive-proof we should make this header :) As @dret mentioned, the link relations are for information purposes only, it is not required to use `successor-version` if API publisher does not want to. We can clarify this aspect but just because someone naive may start using it if provided and therefore it should not be in this spec is not a very convincing argument.

[2021-05-01 01:48] darrelmiller commented on #8
I like the way the Sunset header spec is explicit about the fact that an API designer can document the fact that deprecation of one resource can signal the deprecation of related resources.  I don't think using the term "resource context" conveys it as clearly.

[2021-05-01 01:52] darrelmiller commented on #7
Consistency is good.  I am disappointed that we are heading in the direction of entire resource deprecation only, but I'm biased because we in Microsoft Graph are already using it for partial deprecation.

[2021-05-01 01:54] #9 closed

[2021-05-01 13:04] dret commented on #7
On 2021-05-01 03:52, Darrel wrote:

without knowing anything about it, i am assuming that the way you
identify deprecated features is specific to your API. is that correct?

i think the problem we face is that any model supporting partial
deprecation would need to provide a way how to identify those features,
otherwise it would be relatively pointless. that's tricky to do when all
the current draf

[2021-05-01 14:29] dret commented on #8
On 2021-05-01 03:48, Darrel wrote:

ok, this makes sense. in that case it seems that the deprecation header
spec should follow the wording of the sunset header spec more closely.

[2021-05-04 21:08] mikepizzo commented on #7
Yes; Microsoft Graph has a way to describe the resources returned by its API, including whether individual members of the resources are deprecated.

It seems like Darrel's suggestion would provide wiggle-room for services (like Microsoft Graph) that do have a separate mechanism for describing parts of a resource that are deprecated.

Given that we already have response headers for both deprecation

[2021-05-11 13:44] sdatspun2 commented on #7
@darrelmiller @mikepizzo Can you provide a reference where it shows an example of deprecation of individual members. Originally, we were thinking that the header could point to API reference which if generated from an OAI doc would leverage OAI's `deprecated` flag to identify individual members of the deprecated resource.

[2021-05-18 14:02] dret commented on #7
if you have a partial deprecation model, @darrelmiller & @mikepizzo, would you say the entire resource is deprecated as a result of one part being deprecated? if yes, then maybe adding a "and here's more info for those APIs that have partial deprecation models" part makes sense. if not, then it seems that the partial deprecation info can be left entirely to whatever model the API has. would you ag

[2021-05-18 15:48] mikepizzo commented on #7
@dret -- No, it's important to our API versioning that deprecating one part of the resource does not deprecate the entire resource.

@sdatspun2 -- Our API represents a graph of resources. Resources have defined properties, and we want the ability to mark a property as deprecated in favor of a new property.

For example, we have an [educationSubmission](https://docs.microsoft.com/en-us/graph/api/re

[2021-05-18 15:52] dret commented on #7
@mikepizzo: if you say the resource itself does not get deprecated, is there anything speaking against just relying on the API mechanisms of deprecating some parts of it? why would you need a signal in addition to that, what would that be used for?

[2021-05-18 16:00] mikepizzo commented on #7
@dret -- We use the deprecation header to alert the application that the request that they made contained deprecated content. The app could then, for example, pop up a dialog to the user saying that this version of the app is referencing deprecated content and to please check if there is a newer version of the app available.

[2021-05-31 14:16] dret commented on #7
now i am a bit confused, @mikepizzo. the way the draft is currently phrased it is used to signal an API consumer that the resource is deprecated. what you're writing there seems to be rather different, i read it as using the header field not to make statement about the resource, but to make a statement about the request. is that correct? if so, then given the current definition of the header field

[2021-05-31 14:23] dret commented on #7
returning to the original discussion: partial deprecation. currently the idea is that the header field signals that a resource is deprecated, meaning that when it is present, the resource is deprecated. here are some points worth discussing:
- if there is a concept of partial deprecation that would probably imply that the resource is only deprecated when the header field is present and there is no

[2021-07-01 10:06] dret commented on #6
i tend to agree with @sdatspun2 here: deprecation is something different from redirection. in some cases there may be a redirect in place, but that's not necessarily the case.

[2021-07-01 10:09] dret commented on #8
@darrelmiller, would you be ok with the above proposal?

[2021-07-01 16:17] darrelmiller commented on #8
@dret   Yes.

[2021-07-06 08:13] dret commented on #8
@darrelmiller: i made the proposed change, if you're fine with it, feel free to close the issue. thanks for your contribution!

[2021-07-06 12:56] #8 closed

[2021-07-06 13:24] darrelmiller commented on #7
@dret  Using strict interpretation of HTTP resources and representations, it does make sense to me to associate the Deprecation header to the resource in its entirety.  Trying to describe the evolution of the representation seems like a distinct problem.  Unfortunately, the reality of API implementations in the wild is there is frequently a tight coupling between resource identifier and representa

[2021-07-06 13:45] darrelmiller commented on #5
We have a use case where intermediaries and log crawlers are going to identify uses of deprecated resources and notify API consumers that they should take action to update their client code.  Using a link relation as a signal is a considerably higher bar than detecting the presence of a header name.  Especially considering how "interesting" it is to parse link headers.  I would prefer there to be

[2021-07-07 12:21] dret commented on #7
On 2021-07-06 15:24, Darrel wrote:

so it seems we're on the same page here. it could be useful to describe
the evolution, but that seems like a hard problem to solve in a generic
way so that it would be useful to expose at the HTTP level.

sometimes there is. but oftentimes these resources evolve (and/or their
representations do), but that's just a different concern from signaling
the deprecation

[2021-07-07 12:23] dret commented on #5
On 2021-07-06 15:45, Darrel wrote:

that one i don't fully understand. it is a really nice used case, but
isn't that covered by building tooling to look for the header field and
you're done? the header field is still the signal, the link relation
simply is some additional info that may go with it.

[2021-07-07 12:53] sdatspun2 commented on #5
Are you looking for something like the following for example?

Deprecation: Sun, 11 Nov 2018 23:59:59 GMT; link="https://api.example.com/v2/customers"; rel="successor-version"

I agree with @dret that tooling could be used instead with the existing syntax.

[2021-07-17 10:07] dret commented on #6
any thoughts on this, @reschke? we discussed a not more and still think that we should avoid overloading deprecation, both in the spec and in examples. what "deprecation" means is not something that we want to standardize, we simply want to allow resources to signal that they are deprecated (and it the requires additional information about the resource or the API to understand if/what something ca

[2021-07-17 10:20] dret commented on #7
we're trying to reduce the list of open issues. @darrelmiller and @mikepizzo, what is your takeaway from this discussion? my next step would be to change the spec to be more clear that we do not support a model for partial deprecation, and that deprecation always applies at the resource level. is that a resolution you could live with? if not, how else can we address this issue?

[2021-07-17 10:22] dret commented on #5
@darrelmiller, are you looking for what @sdatspun2 suggested (i.e., the addition of linking capabilities to the `Deprecation` header field)? if not, could you please clarify? thanks!

[2021-07-18 17:09] darrelmiller commented on #7
Personally, I think it would be unfortunate to spend the time to bring this header through the whole process and not provide any support for signaling that some part of a resource has been deprecated.  My experience has been that fine grained deprecations are far more common in an API that complete resource deprecation.  However, mine is only one opinion and I don't think this being an open issue

[2021-07-18 17:28] darrelmiller commented on #5
@sdatspun2 @dret Feel free to ignore my comment.  I didn't read close enough.  I thought there was a suggestion to only have the link relation and not have the `deprecation` header.

[2021-07-18 17:37] darrelmiller commented on #6
@dret I'm not sure I understand why @reschke 's example wouldn't be helpful for readers.  Using the deprecation header to signal that resource A is going to be deprecated and in the future a client will not be able to use resource A to redirect to resource B, seems like a valid use case.  In the case of a permanent redirect, a deprecation header seems like a good signal to give to clients to updat

[2021-07-29 06:30] mnot opened #11 "Use Structured Fields"
It's not a mandated requirement, but new fields are encouraged to use Structured Fields --
  https://httpwg.org/specs/rfc8941.html

This has a number of advantages:

- well-specified parsing and serialisation algorithms
- better interop
- less security issues
- common library support
- possible future ability for alternative serialisations that are more efficient (i.e., binary headers)

[2021-07-29 06:31] mnot opened #12 "Fields that have alternative forms"
... are considered a 'bad smell'.

Instead of a date vs. a fixed string, could we just say that a date in the past is equal to 'true'?

[2021-07-29 06:33] mnot opened #13 "Deprecation link relation type"
Reading the text, I'm confused, is this linking to information that's about:

1. a specific deprecation event that's occured
2. the entire API's policy for deprecation in the future

?

[2021-07-29 06:40] mnot opened #14 "Requirements in Security Considerations"
... is generally frowned upon.

[2021-07-30 07:05] dret commented on #12
On 2021-07-29 08:31, Mark Nottingham wrote:

i guess we could. and we already say that a date in the past means that
the resource is deprecated. the motivation to allow a flag was to not
force services to make up a date when they don't have one and simply
want to flag something as deprecated. but we could also "force" them to
make up a date by not allowing the "true" flag.

i am fine either way an

[2021-07-30 10:11] dret commented on #11
On 2021-07-29 08:30, Mark Nottingham wrote:

thanks for the reminder and pointer. assuming we change the draft to use
only a date (as proposed in #12), we would end up using a "sf-string"
and then stick to the IMF-fixdate (which seems to be in the new HTTP
specs as well) that we currently reference, right?

afaict, this wouldn't change much about what we want to allow, but it
would have the advant

[2021-07-30 10:27] dret commented on #13
On 2021-07-29 08:34, Mark Nottingham wrote:

the intent was that it can be both. the current text says:

"This can happen before the actual deprecation, to make a deprecation
policy discoverable, or after deprecation, when there may be
documentation about the deprecation, and possibly documentation of how
to manage it."

the goal was to specifically allow both things you listed above. is that
uncl

[2021-07-31 04:44] mnot commented on #11
You might want to consider using a sf-integer to represent the epoch date; that doesn't require any extra parsing or error handling.

[2021-07-31 04:45] mnot commented on #13
Having a single link relation mean two different things is a bit odd; if someone wants to automate something based upon it, they'll need to have a way of distinguishing them.

[2021-07-31 04:46] mnot commented on #12
FWIW, I see it like Expires -- if it's already stale, you just assign a date in the past.

[2021-07-31 07:40] dret commented on #11
On Jul 31, 2021, at 06:45, Mark Nottingham ***@***.***> wrote:

that's one way to go. so far we wanted to keep this header field consistent with the sunset header field, but that's not a hard requirement.

[2021-07-31 07:53] dret commented on #13
On Jul 31, 2021, at 06:45, Mark Nottingham ***@***.***> wrote:

i'd argue it's one thing: information about deprecation. the nature of it may change depending on whether you look it up before or after depreciation, but it the one place where you'll find deprecation info.

what kind of automation are you expecting? for the status, we have the header field itself. if it's some kind of crawler for de

[2021-07-31 07:53] dret commented on #12
On Jul 31, 2021, at 06:46, Mark Nottingham ***@***.***> wrote:

i could definitely live with such a design.

[2021-08-01 14:09] sdatspun2 commented on #12
Having boolean helps align this header with OpenAPI's `deprecated` flag which does not require date. I wish that OpenAPI adds date for `deprecated`.

On Jul 31, 2021, at 06:46, Mark Nottingham ***@***.***> wrote:
 FWIW, I see it like Expires -- if it's already stale, you just assign a date in the past.

[2021-08-01 14:28] sdatspun2 commented on #6
I agree with @dret, we should avoid overloading the retype `deprecation` with redirect. However, would it help to overload just the reltype `successor-version` with redirect? See https://github.com/ietf-wg-httpapi/deprecation-header/blob/main/draft-ietf-httpapi-deprecation-header.md#recommend-replacement.

any thoughts on this, @reschke? we discussed a not more and still think that we should avoid

[2021-08-01 15:37] reschke commented on #6
That's not what this is about.

But are you disagreeing that one *can* use that field on a redirect?

[2021-08-03 00:29] mnot commented on #12
For Expires, January 1 1970 (epoch 0) is widely used.

[2021-08-23 04:59] sdatspun2 commented on #11
@mnot Typically, in API's payload schema date string in iso 8601 format is preferred. header value in the form of sf-string with IMF-fixdate would be consistent instead of sf-integer imo.

[2021-08-23 05:03] sdatspun2 commented on #6
@reschke Can you give example in the form of response? Perhaps you are saying that redirect with normal HTTP machinery but add Deprecation header too.

[2021-08-23 06:32] reschke commented on #6
What I'm trying to say is that it seems natural to augment a redirect response with a deprecation header field.

For instance:

[code]

would convey that the resource already redirects, but that the redirector will be taken out of service at a concrete time in the future.

[2021-08-25 05:22] sdatspun2 commented on #6
@reschke  You mean deprecation, right? Makes sense for non-HTTP API applications indeed.

301 Permanent Redirect HTTP/1.1
Location: /foo
Deprecation: ...

[2021-08-25 05:23] sdatspun2 commented on #5
@darrelmiller Will you be ok to close this issue then?

[2021-08-25 07:03] reschke commented on #6
I think both deprecation and sunset could be applicable.

[2021-08-25 07:22] dret commented on #6
On Aug 25, 2021, at 09:04, Julian Reschke ***@***.***> wrote:

fwiw, sunset has been published as a separate RFC for a while, and at least for now, no update is planned. for the deprecation draft, we probably should just use the deprecation header field in examples.

[2021-09-22 12:44] dret commented on #5
reading the last comments as this being ok to be closed, and closing it.

[2021-09-22 12:44] #5 closed

[2021-11-02 13:33] dret commented on #7
any updates on this one, @darrelmiller? keeping in line with `Sunset` it seems that `Deprecation` should behave similarly, i.e. (at least by default) making a statement about the resource. if you're proposing something in addition, then the desired semantics for you seem to be "the resource is not deprecated, but parts of the model are". if that's true, then that's something we're not covering cur

[2021-11-12 03:02] darrelmiller commented on #12
@sdatspun2  I wish OpenAPI supported deprecated date also.  But when we do, it won't be with a property that can be boolean or date.

[2021-11-15 03:12] mnot commented on #11
Parsing dates is _nasty_ -- it takes non-trivial CPU and there are a lot of error cases around it. Not all libraries do it the same way, in the details. It's also a drag on perf at high rates. So it depends on how much you value consistently here...

[2021-11-15 03:20] sdatspun2 commented on #12
Ok @darrelmiller, thanks for clarification on the OpenAPI side of things.

I agree. We can just use date. There are some implementations out there, I would not know if any of those use boolean but since we are not an RFC yet, such a change should not be unexpected.

[2021-11-15 15:12] sdatspun2 commented on #7
At IETF-112, we agreed to not go into resource's representation. @darrelmiller should  we close this issue?

[2022-01-03 14:23] sdatspun2 commented on #11
I am wondering how we can introduce this change such that existing implementations are not broken...

[2022-01-03 16:50] dret commented on #11
On 2022-01-03 06:23, Sanjay Dalal wrote:

i don't think that's even an option with this issue. my main concerns
still are compatibility with "Sunset" and human-readability. but if the
general HTTP trend is towards integers, that's an important concern. i
haven't looked at all HTTP fields with dates, but aren't many/most (at
least of the older ones) also using ISO instead of integer?

since this is

[2022-01-04 02:43] dret commented on #11
results so far:

<img width="591" alt="image" src="https://user-images.githubusercontent.com/1848612/148002582-53785710-b356-464a-a73d-9d1cc890b443.png">

but again, this is not so much addressing the original topic of this issue, but the later topic of how the deprecation date should be represented.

[2022-01-19 18:36] dret opened #17 "Relationship to HTTP status code usage"
This was raised on the mailing list: Is there a recommended status code to use with the header field? My response to this was that there isn't one, and then @ioggstream was wondering whether we should say that. If anybody feels like that would be a good idea, please comment here. Thanks!

[2022-01-19 18:38] ioggstream commented on #17
Thanks for filing this.

[2022-03-11 19:18] darrelmiller commented on #7
Yes,

[2022-03-19 17:12] darrelmiller commented on #17
My observation is that this header is similar in class to the "Response Context" headers https://datatracker.ietf.org/doc/html/rfc7231#section-7.4

   the target resource for potential use in later requests.

In the descriptions of these response headers there is no mention of HTTP method or Status Code unless there is some additional constraint on the use of the header for a specific scenario.  U

[2022-03-19 17:16] darrelmiller commented on #14
@dret Would it be acceptable to move these requirements into the documentation section?

[2022-03-19 20:51] darrelmiller commented on #6
@sdatspun2 Can I ask why you qualified your support for the example with "for non-HTTP API".  I do believe there are many HTTP API implementations that return redirects.  Making a caller aware that the initial resource is going away seems like a viable scenario.

[2022-03-22 18:39] sdatspun2 commented on #6
@darrelmiller We have defined different and explicit rels for guiding the consumers of the API, see https://github.com/ietf-wg-httpapi/deprecation-header/blob/main/draft-ietf-httpapi-deprecation-header.md#recommend-replacement. In which case, the API publisher would redirect? How should the default behavior be specified by the API publisher?

[2022-03-23 16:30] dret commented on #6
i m still a bit hesitant to venture too far into "and here are all the things that could be done" land, since this is an area where it seems we can expand on examples indefinitely. maybe i am a bit scarred by my recent linkset experience. my preference would be to not add examples when we can, but only when we have to.

[2022-03-23 16:42] dret commented on #17
i am taking @darrelmiller's sole response as my representative sample and claim victory on this one with no changes to the draft.

[2022-03-23 16:42] #17 closed

[2022-03-23 16:49] dret commented on #14
i don't see a reason why not. i'll assign this one to myself.

[2022-03-23 20:41] mnot commented on #13
Personally -- I'd hold off creating a link relation type until I had some formats defined that it'd point to, so we could understand the use cases in more detail...

[2022-03-23 20:41] mnot commented on #17
That seems like the right outcome to me, FWIW.

[2022-03-24 07:42] dret commented on #13
On 2022-03-23 21:41, Mark Nottingham wrote:

that's interesting. in my mind, with links and link targets being so
nicely different on the web, there's potential in defining the one
without the other, as there are always generic formats to fallback to
when there are (not yet) specific ones.

but i agree that this is a bit speculative, and that i have no idea
if/how for example the "Sunset" link rel

[2022-03-24 11:38] dret commented on #12
it seems like we can safely remove the alternative syntax. i have created a PR asking for review by @mnot.

[2022-03-24 11:42] dret commented on #11
this one now is identified as a blocker in the WG project board and we need to resolve it. i am still in favor of the `Sunset` format (the ISO date) and so seem to be most developers out there. @mnot feels strongly about using a more robust format. i think we all agree that supporting both would be the worst possible idea. how do we resolve this? should we take it to the list?

[2022-03-24 11:48] richsalz commented on #11
Yes, I think take it to the list is the best thing for now.

[2022-03-24 11:54] dret commented on #11
done here: https://mailarchive.ietf.org/arch/msg/httpapi/vQTGGK2hMx0KqLZ4wMbNMzaY67g

[2022-03-24 12:01] dret commented on #6
sorry for reviving this, @reschke, but since this is unresolved i'd like to re-open the discussion. my vote still goes to "do we need such an example" over "can we add such an example", and i don't think we need such an example. how strongly do you feel about having such an example in the spec?

[2022-03-24 12:02] dret commented on #13
@mnot: since you qualified your last response with "personally", how should be resolve this issue? are you against having such a link relation, or would you be ok with having it without having/defining specific media types for linked resources?

[2022-03-24 12:05] dret commented on #17
FWIW, i just "archived" this on @darrelmiller's project board because it seemed to me that having resolved issues on there is not particularly helpful, and issues don't automatically disappear from the project when they are closed.

[2022-03-24 12:49] reschke commented on #6
AFAIR, I thought this would be a good example. I'll have to re-read the spec to see what examples it currently has, and whether they are better. That might take some time.

[2022-03-24 13:21] dret commented on #6
please let us know what your conclusion is, @reschke. just repeating myself here: please don't just think about whether it's a *good* example, but whether it's a *necessary* example. thanks!

[2022-03-27 22:05] mnot commented on #13
I'm not against it -- I just wonder if it's well-defined enough to be useful as it is.

[2022-03-28 07:01] #12 closed

[2022-03-28 07:05] dret commented on #13
On 2022-03-28 00:05, Mark Nottingham wrote:

i would argue that it's useful to encourage people to have well-defined
deprecation policies and to document them and to make them discoverable.
that's something that's independent of specific media types people would
use to represent that information. and it's certainly something i am
encouraging as part of general API design guidelines, but i have no

[2022-05-18 08:03] dret commented on #11
we had very limited discussion (thanks @ioggstream) but we didn't get any further to a resolution.

[2022-06-03 18:56] obfischer commented on #11
Dear all,

I contacted @dret via Twitter and he told me, that the question of the date format is the most blocking one. I read all the arguments given here in this issue and also the very small mail thread.

I would even go for a HTTP-date. The reason is quite easy: The sunset header uses this format too. IMHO, the sunset header requires the deprecation header and the deprecation header requires t

[2022-06-08 15:13] dret commented on #11
Proposed resolution: Closing with no action (i.e., keeping the ISO date format). Main reasons:
- Alignment with "Sunset" header field.
- Most developers seem to favor ISO format.

[2022-06-08 15:28] dret commented on #13
@mnot, how strongly are you feeling about this? do you want to see changes (the link relation type removed or additional wording about media types for the referenced resource) or are you ok with leaving this as it is?

[2022-06-08 15:33] dret commented on #6
@reschke, i am doing a bit of housekeeping and noticed that this issue is still open. can you please have a quick look and see whether such an example in your opinion is needed? thanks!

[2022-06-08 15:45] pimterry commented on #11
Just to add another vote/2¢: I would also personally lean towards ISO.

I think the clearest argument against ISO in general is performance, but I would be surprised if that's relevant here - I don't think deprecation headers are the kind of thing that people are parsing in performance-sensitive scenarios in the first place.

In most real-world cases, I'd expect that this header will primarily eit

[2022-06-09 14:04] dret opened #20 "Removing link relation use with Link header"
Re-reading #5 it seems we closed that one too early. Reading through where the draft currently uses link relations I think we need to clarify or to simplify.

- How is `alternate` supposed to be used, what's different from using the version-related link relations?
- @reschke's original concern still stands: We're "misusing" link relations that have a different specified purpose.
- If we're saying

[2022-06-09 14:05] dret commented on #20
My proposal for resolution is to remove all language around `successor-version`, `latest-version`, and `alternate`, and to add some language recommending to make this information discoverable via `deprecation`. @sdatspun2, what do you think?

[2022-06-09 21:11] sdatspun2 commented on #20
@dret

That does not harm.

However,

We did not try to redefine these, we are just using these as defined in https://www.iana.org/assignments/link-relations/link-relations.xhtml.

@reschke only `alternate` which is referred in HTML might be considered misused perhaps :) and we can remove. But `successor-version`, `latest-version` use the terms resources and this draft uses the same terms as well,

[2022-06-09 23:20] mnot commented on #13
Re-read and the current text looks sufficient; happy to close.

[2022-06-09 23:47] mnot commented on #20
No - 6829 is about navigating between revisions of a document under version control -- the concept of API versioning is a (potentially very) different thing. These link relations weren't defined for that, and a consumer that understands their semantics is going to be confused by this use. Agree with @dret - remove it all.

[2022-06-10 04:22] sdatgit commented on #20
Ok

[2022-06-10 04:29] sdatspun2 commented on #20
Ok, single reltype for `deprecation`, it is then. API developer can provide additional documentation regarding alternate, successor, etc. versions on the documentation at that link.

[2022-06-10 06:26] dret commented on #20
On 2022-06-10 01:47, Mark Nottingham wrote:

that was my point. a new API version may/will provide access to the same
resource version (just providing a different way to interact with them),
so the semantics are very different and potentially confusing.

[2022-06-10 06:27] dret commented on #13
thanks for the feedback, @mnot. closing.

[2022-06-10 06:27] #13 closed

[2022-06-10 07:01] dret opened #21 "Change registration registry for the header field"
The current draft still requests publication in the IANA message field registry. There now is a specific registry for HTTP fields, and the registration request should be changed to that registry.

[2022-06-10 07:10] dret commented on #7
It feels like there still is some language in the draft referring to the idea of deprecation being "below" the resource level, specifically in the section about documentation.

[2022-06-10 07:27] dret commented on #7
Closing with a new set of edits.

[2022-06-10 07:27] #7 closed

[2022-06-10 07:28] dret commented on #20
Closing after removing the link relation use as discussed.

[2022-06-10 07:28] #20 closed

[2022-06-14 07:09] mnot commented on #11
@pimterry, I think your arguments make sense for this particular header. What I'm looking for is a convention for _all_ dates in HTTP, including Expires/Date/etc., which are handled at might higher rates by server software (including CDNs), so performance matters a lot more.

I say "all dates" because it'd be good to converge on one way to do it eventually.

If folks are dead-set against using an

[2022-06-16 01:48] sdatspun2 commented on #11
+1

Is using @ for such a convention? Are there any such examples elsewhere?

[2022-06-16 01:52] mnot commented on #11
Structured fields need an initial character to be able to distinguish a type; `@` seems like a fitting one for dates.

[2022-06-16 05:40] dret commented on #11
On Jun 16, 2022, at 03:52, Mark Nottingham ***@***.***> wrote:

that approach is a bit counter the idea to have "Deprecation" use the same syntax as "Sunset". that's still a good goal to have in my mind.

[2022-06-16 05:54] mnot commented on #11
Why is it a good goal? If everything must look like everything that already exists, all changes and improvements are ruled out.

[2022-06-16 07:02] dret commented on #11
On Jun 16, 2022, at 07:54, Mark Nottingham ***@***.***> wrote:

this is not about everything, this is just about these two header fields which are closely related. they're not two randomly picked ones, so consistency would be useful.

but again, if it seems like we cannot move this along, despite the overwhelming opinion by the (admittedly random) set of people who voiced their opinion on the matt

[2022-06-16 07:44] mnot commented on #11
So far, discussion in the HTTP WG has been leaning towards _not_ having a special Date type, but continuing to use Integer (or Decimal, where appropriate). So if folks here think that human-readabiliy is more important, I'd suggest sticking with String.

That would make it look like:

[code]

[2022-06-16 08:58] dret commented on #11
On 2022-06-16 10:44, Mark Nottingham wrote:

to be honest, if we decide that we're not trying/wanting to align the
Deprecation and Sunset headers at the syntax level, then i'd rather
break consistency in an obvious way (let's say by going with integer).
that seems less confusing than introducing subtle differences (like
prefixing with `@` or surrounding with quotes) that seem to carry the
risk of

[2022-06-16 11:23] squarooticus commented on #11
The only really compelling argument in favor of a structured date encoding would be to accommodate different timescales: TAI instead of UTC, for example. But that's unworkable unless all such employed timescales are universally understood, which limits the extensibility you might hope to achieve. It's equivalent and far simpler to convert all timestamps to a single reference timescale (e.g., UTC).

[2022-06-16 11:55] pimterry commented on #11
This is an interesting point! Sunset & deprecation are fundamentally human events, so they're really defined relative to a human timezone, not an abstract perfect UTC moment in time (https://codeblog.jonskeet.uk/2019/03/27/storing-utc-is-not-a-silver-bullet/ has good points on this in general). Totally agree though - while that would be mildly useful, I think it's not workable/worthwhile in practi

[2022-06-17 06:50] mnot commented on #11
If alignment between the syntax of Sunset and Deprecation is important, there's another option -- we could define a new field to satisfy both use cases.

E.g.,

[code]

[2022-06-17 15:24] dret commented on #11
On 2022-06-17 09:51, Mark Nottingham wrote:

that's an interesting idea. @ioggstream provided his ideas in a private
conversation and here's a similar but slightly different idea:

[code]

the dictionary could be backed by a registry with initial entries for
sunset and deprecation, and the spec would obsolete RFC 8594. i like it
because it's open and extensible (with the usual challenge of how to

[2022-06-18 02:44] mnot commented on #11
I think a year is a bit pessimistic, FWIW. You don't necessarily need to set up a registry -- the syntax is naturally extensible, so one option would be just to have future extensions update the RFC defining the header.

[2022-06-18 06:30] dret commented on #11
On Jun 18, 2022, at 04:45, Mark Nottingham ***@***.***> wrote:

true. the main challenge is how to manage the namespace, not how to implement that management. either way works, a registry may make it easier to track things, but then again i'm not so sure how many standardized extensions we would see.

[2022-06-18 12:46] sdatspun2 commented on #11
I'd rather have distinct wells-scoped headers.

Considering that deprecation will always comes before sunset, this could be an option going forward. However, this requires the RFC Sunset itself to be deprecated. And also, there could be cases where API goes directly into sunset for some reasons where this header won't be useful and one has to use Sunset header only.

What other states of lifecycle

[2022-06-18 13:14] mnot commented on #11
@sdatspun2 can you say _why_ you have that preference?

[2022-06-18 13:55] sdatspun2 commented on #11
@mnot I am recalling our discussion with @dret in 19 re how Deprecation needed to be a well-scoped, distinct header separate from Sunset since it is a distinct lifecycle stage semantically different from Sunset. We settled that with a distinct, well-scoped header for Deprecation.

Now if we add sunset to Deprecation, there would be duplication of Sunset's functionality since I cannot imagine that

[2022-06-18 13:57] sdatspun2 commented on #11
Now regarding

This is more flexible and comprehensive indeed where new API states could be added in future. Indeed, this new header would allow the direct sunset use case.

But, I wouldn't know what those additional states and (imagined?) use cases are for which this flexibility is proposed. Are there use cases like API is suspended and resumed at some later time? If not and if deprecation and su

[2022-06-18 14:15] dret commented on #11
On 2022-06-18 16:57, Sanjay Dalal wrote:

yes, that's the nice thing. it would obsolete Sunset but in a way that's
open and extensible, which feels like a good thing to have.

in our CAM book we talk about five stages of an API lifecycle. think
stages like "experimental", "production", and yes, "deprecated". we also
say that these are not *the* five stages, but that it makes sense for an
organizat

[2022-06-18 15:37] sdatspun2 commented on #11
We had listed lifecycle stages PayPal's REST API guidelines (which seems to be private now) where we had listed beta, live (your production) in addition to deprecated and retired (aka sunset). But, I don't think beta was ever utilized and there was no need to have anything for live. Perhaps, alpha, beta, early-access, etc. could be the potential stages and if registry is available then we don't ha

[2022-06-18 18:01] dret commented on #11
On 2022-06-18 18:37, Sanjay Dalal wrote:

that will be up for discussion. i think with sunset and deprecation we
may have identified the most obvious candidates. whether there are other
candidates and which ones is something we'll have to discuss.

that's true. my usual recommendation is to provide these lifecycle
headers only on API home documents anyway. that way tooling can easily
pick them up,

[2022-06-20 07:57] ioggstream commented on #11
@dret if we think that `Lifecycle` is a viable solution, I don't think we need to pass from a new adoption unless the chairs think this is required.

About the discussion one/two headers and obsoleting Sunset, I think that the editors have the most comprehensive view on the actual landscape so I think it's their choice.

[2022-07-29 15:07] reschke commented on #6
Noted. Will re-read over the weekend.

[2022-07-30 12:52] reschke opened #22 "link to HTTP IMF-fixdate is dangling; also http-date vs imf-fixdate"
I also note that Sunset uses http-date, which is a superset.

Restricting to imf-date is well-intended, but IMHO not a good idea as the assumption is that recipients will just use generic HTTP date parsers, right?

[2022-07-30 12:54] reschke opened #23 "IANA considerations"
a) "field"
b) use the new HTTP field registry

[2022-07-30 13:21] reschke commented on #23
There are many more cases where "header" is used instead of "field".

[2022-07-30 13:26] reschke commented on #6
Ok.

1) Looked at the existing examples. These are confusing, because there are two, and the second essentially is a superset of the first. Things would be less confusing if this was streamlined.

2) Are the examples sufficient? Maybe. I think it would be good if the examples should actual request/response pairs, instead of just repeating syntax defined earlier on. But it's an editorial choice.

[2022-07-30 13:29] reschke opened #24 "intro to header field inprecise"
What exactly does "in context of the message" mean? Is this about the resource being deprecated only in certain contexts (which?), or about the actual *resource* (URI) being deprecated depending on the request context?

[2022-07-31 19:12] dret commented on #22
On 2022-07-30 15:52, Julian Reschke wrote:

that's a good point, thanks. i'll leave this one open just in case we
end up finishing "Deprecation" instead of starting "Lifecycle".

[2022-08-08 01:33] mnot commented on #11
Just an update -- in the syntax that seems to have favour in the HTTP WG, it might look something like:

[2022-08-08 09:02] dret commented on #11
On 2022-08-08 03:33, Mark Nottingham wrote:

in terms of using a format that's easy to recognize and easy to parse,
that one looks like it's ticking the right boxes.

[2022-08-09 13:57] ioggstream commented on #11
If we want to shift to Lifecycle, in this specific case values should be human readable, since this information is relevant to humans.

A specific ISO profile  can be used, eg. `@2022-01-01 or @2022-01-01T10:10:10Z.`
In the future, a SF processor can use the `@` prefix to encode/decode the date on the wire if needed.

[2022-08-09 23:01] mnot commented on #11
@ioggstream if you want to argue a different textual format for structured dates, you'll need to do that in the HTTP WG - see https://github.com/httpwg/http-extensions/issues/2162

[2022-10-11 06:55] dret commented on #11
On 2022-06-14 10:09, Mark Nottingham wrote:

"Deprecation" may not be the best one to lead the way, but this does
look like a worthwhile longterm strategy.

just wondering: do you need this to be visible in the syntax (i.e., do
you need the "@")? wouldn't it be enough to add a type to structured
headers and it would be used in the type definition but would not be
directly visible on the value? i'd

[2022-10-11 07:23] dret commented on #23
On 2022-07-30 15:55, Julian Reschke wrote:

yes, this one will have to be adjusted if we keep the draft. thanks.

[2022-10-12 04:59] mnot commented on #11
Yes -- in the textual representation of structured fields, there needs to be some way for parsers to detect the type in use.

Right now, the proposal in the HTTPWG is [here](https://httpwg.org/http-extensions/draft-ietf-httpbis-retrofit.html#appendix-A), although it's about to migrate to a separate spec. It would look like this:

[2022-10-14 00:50] dret commented on #11
On 2022-10-11 21:59, Mark Nottingham wrote:

perfect. if it's of any help, i'd be more than happy to help with that
doc. it would be a good way to make sure that the deprecation draft is
using the syntax and intention of the SF date type.